---
layout: master
title: Blog
full_posts: 3
---

<script type="text/javascript" src="/javascripts/jquery.delicious.js">
</script>

<script type="text/javascript">

    $(document).ready(function() {
        $(".postBlock")
        .mouseover(function() {
            this.style.backgroundColor = '#E9E9E9';
        })
        .mouseout(function() {
            this.style.backgroundColor = '';
        });

        $('#delicious-posts').delicious('digiduck', { popopen: true });

    });

</script>

<div class="width75" style="float: left;">
    <h1>Bloggings</h1>

    {% for post in site.posts %}
        
        <div class="postBlock">
            <table cellspacing="0" cellpadding="0">
                <tr>
                    <td class="date">{{post.date | date_to_string}}</td>
                    <td>
                        <a class="title" href="{{post.url}}">{{post.title}}</a>
                        
                        {% for category in post.categories %}
                        <span class="category">{{category}}</span>
                        {% endfor %}
                    </td>
                </tr>
            </table>
        </div>
        
    {% endfor %}

    <!-- { if forloop.index < page.full_posts } -->
</div>

<div class="width25 sidebar">
    <p style="margin-bottom: 1.5em;">
      <a class="img" href="http://twitter.com/thezduck">
        <img src="/images/twitter.gif" alt="Follow me on twitter!" /></a>
    </p>

    <h3>What I Find <a href="http://www.delicious.com/digiduck">Delicious</a></h3>
    <div id="delicious-posts"></div>
</div>