---
layout: master
title: Blog
full_posts: 3
---

{% for post in site.posts %}
    {% if forloop.index < page.full_posts %}
    <div class="post">
        <h1>
            <a href='{{page.url}}'>{{post.title}}</a></h1>
            <span class="date">{{post.date | date_to_string}}</span>
        {{ post.content }}
    </div>
    {% else %}
    
        {% if forloop.index == page.full_posts %}
        <h3>Older Posts</h3>
        <ul>
        {% endif %}
    
    <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% endif %}
{% endfor %}
</ul>