<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.1//EN"
  "http://www.w3.org/TR/xhtml11/DTD/xhtml11.dtd">
<html>
<head>
    <title>Zduck => {{ page.title }}</title>
    <script src="/javascripts/jquery.js" type="text/javascript"></script>
    <link rel="stylesheet" type="text/css" href="/stylesheets/reset.css" media="screen, projection, tv" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/layout.css" media="screen, projection, tv" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/html.css" media="screen, projection, tv" />
    <link rel="stylesheet" type="text/css" href="/stylesheets/syntax.css" media="screen, projection, tv" />
    <link href="http://feeds.feedburner.com/zduck" type="application/atom+xml" rel="alternate" />
    <link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
</head>
<body>
    <div id="content">
        <div id="header" class="width">
            <ul>
                <li><a href="http://feeds.feedburner.com/zduck">
                    <img src="/images/subscribe-icon.gif" alt="Subscription Icon" style="height: .8em;" />
                    Subscribe to my feed</a></li>
                <li><a href="http://www.github.com/jpoehls/zduck-web" class="last">Git my source</a></li>
            </ul>
        </div>
        <div id="headerImg" class="width">
        </div>
        <div id="menu" class="width">
            <ul>
                <li><a href="/index.html"><span class="title">Blog</span> <span class="desc">Skim. Comment.
                    Go.</span></a></li>
                <li><a href="http://www.flickr.com/jpoehls"><span class="title">Photostream</span> <span
                    class="desc">Flickr. Photos. Nuff-said.</span> </a></li>
                <li><a href="http://www.linkedin.com/in/jpoehls"><span class="title">Linked-in</span>
                    <span class="desc">Me. Work. Resume.</span> </a></li>
                <li><a href="/projects.html"><span class="title">Projects</span> <span class="desc">
                    In Progress. Always.</span> </a></li>
            </ul>
        </div>
        <div id="page">
            <div id="columns" class="widthPad">
                {{ content }}
            </div>
        </div>
    </div>
    <div id="footer">
        <div id="bg" class="width">
            <p>
                <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/">
                    <img alt="Creative Commons License" style="border-width: 0" src="/images/cc.png" /></a><br />
                <span xmlns:dc="http://purl.org/dc/elements/1.1/" property="dc:title">This website</span>
                by <a xmlns:cc="http://creativecommons.org/ns#" href="http://www.zduck.com" property="cc:attributionName"
                    rel="cc:attributionURL">Joshua Poehls</a> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by/3.0/us/">
                        Creative Commons Attribution 3.0 United States License</a>.
            </p>
            <p class="last">
                The design is based on the Nautica05 theme from <a href="http://www.opensourcetemplates.org">
                    opensourcetemplates.org</a> and <a href="http://www.studio7designs.com">studio7designs.com</a>.
            </p>
        </div>
    </div>
    <script type="text/javascript">
        var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
        document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
        try {
            var pageTracker = _gat._getTracker("UA-501485-3");
            pageTracker._trackPageview();
        } catch (err) { }
    </script>
</body>
</html>
