---
layout: master
---
<div class="floatLeft width73">
    <div class="post">
        <h1>
            <a href='{{page.url}}'>{{page.title}}</a></h1>
            <span class="date">{{page.date | date_to_string}}</span>
        {{ content }}
    </div>
</div>
<div class="floatRight width25 horzPad">
    <h2>
        Other Posts</h2>
    <ul class="submenu1">
        {% for post in site.related_posts limit:10 %}
        <li><a href='{{ post.url }}'>{{ post.title }}</a></li>
        {% endfor %}
    </ul>
</div>
